.container{
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 15px
}

.card-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.cart-data {
  height: 450px;
  background: #424242;
  border: 1px solid #5c5656;
  border-radius: 4px;
  padding: 10px;
  position: sticky;
  right: 30px;
  top: 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.mat-cards {
  width: 232px;
  height: 300px;
  img{
    width: 232px;
  }
}


